@font-face {
  font-family: "Alice";
  src: url("./assets/fonts/Alice-Regular.ttf");
}

* {
  margin: 0;
  padding: 0;
  font-family: "Alice", serif;
  font-size: 16px;
  font-weight: 400;
  box-sizing: border-box;
}

/* Colors */
/* 
  Surface colors:
    #573824 => background-color
    #F0E8C2 => surface-color

  Text colors:
    #291B1A => text-color-primary
    #573A37 => text-color-secondary
    #F0E8C2 => text-color-on-bg
*/

body {
  background-color: #291b1a;
}

#conteudo {
  margin: 3rem auto;
  position: relative;
}

article {
  background-color: #f0e8c2;
  max-width: 50rem;
  margin: 0 auto 1.75rem;
  border-radius: 24px;
  padding: 1.5rem;
}

footer {
  position: relative;
  display: flex;
  justify-content: center;
}

#hero-image {
  height: 25rem;
  margin: 0 auto;
  border-radius: 16px;
}

h1,
h2 {
  color: #291b1a;
  margin: 0.25rem 0;
}

h1 {
  font-size: 2.5rem;
  line-height: 140%;
}

h2 {
  font-size: 1.5rem;
  line-height: 150%;
}

p,
ul {
  font-size: 1rem;
  line-height: 150%;
  color: #573a37;
  margin-bottom: 0.75rem;
}

span {
  color: #f0e8c2;
  position: relative;
  display: flex;
  align-items: flex-end;
}

li {
  margin: 0 2rem;
}

#descricao li {
  margin: 0;
  list-style: none;
}

#icon-heart {
  margin: 0 0.25rem;
}

section {
  margin: 1.5rem 0;
}
